[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.1"
requests = "==2.23.0"
pymongo = "*"

[dev-packages]
python-dotenv = "==0.12.0"

[requires]
python_version = "3.9"
