certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dnspython==1.16.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pykerberos==1.2.1
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.12.0
python-snappy==0.6.0
requests==2.23.0
six==1.15.0
urllib3==1.25.11
Werkzeug==1.0.1
