<div class="form-row">
  <div class="col">
    <input type='hidden' value='{{ deck._id }}' name='deck_id'/>
    <input type="text" class="form-control" placeholder="Front Side" name="front" id="front">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Back Side" name="back" id="back">
  </div>
  <div class='form-group'>
      <button class='btn btn-primary' type='submit'>Add</button>
      <!-- BUTTON -->
      <button class='btn btn-primary' type="reset">Clear</button>
  </div>
</div>
