<form method="POST" action="/deck">
    <div class="form-row">
        <div class="col">
            <h3>New Deck</h3>
            <br/>
            <input type="text" class="form-control" placeholder="Title" name="title" id="title">
            <br /><br />
        </div>
        <div class="col">
            <h3>Tags </h3>
            <small>Add tags, separated with a space</small>
            <textarea class='form-control' id='tags' name='tags' rows='1'></textarea><br />
        </div>
    </div>
        <div class='form-group'>
            <button size='lg' class='btn btn-info btn-block' type='submit'>Create Deck</button>
        </div>
</form>