<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-dark text-white">stinedeck</div>
    <div class="list-group list-group-flush">
    <a href="{{ url_for('create_deck') }}" class="list-group-item list-group-item-action bg-info text-white">Create New Deck</a>
    <a href="{{ url_for('show_all_decks') }}" class="list-group-item list-group-item-action bg-secondary text-white">View All Decks</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Deck 1</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Deck 2</a>
    </div>
</div>