<div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-dark text-white">stinedeck</div>
    <div class="list-group list-group-flush">
    <a href="{{ url_for('create_deck') }}" class="list-group-item list-group-item-action bg-info text-white">Create New Deck</a>
    <a href="{{ url_for('show_all_decks') }}" class="list-group-item list-group-item-action bg-secondary text-white">View All Decks</a>

    <h4 class="m-2 pt-3 pb-0 text-white">Recently Updated</h4>

    {% for deck in recent  %}
      <a href="/deck/{{ deck._id }}" class="list-group-item list-group-item-action bg-light">{{ deck.title }} 1</a>
    {% endfor %}

    </div>
</div>
