body {
    background-color: #e3e3e3;
}

h1:not(.deck), h2:not(.deck), h3:not(.deck) {
    color: #FFFFFF;
}

.cardTemplate {
  height: 360px;
  width: 640px;
  margin: auto;
  position: relative;
  transition: all 0.3s;
  perspective: 900px;
}

.front, .back {
  height: 360px;
  width: 640px;
  background-color: #FFFFFF;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-align: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.4s;
}

.back {
    transform: rotateX(-180deg);
  }

.flipped .back {
    transform: rotateX(0deg);
}

.flipped .front {
    transform: rotateX(180deg);
}