{% extends 'base.html' %}

{% block content %}
<h1 class="deck">Decks</h1>

<div class='card-group'>
    <div class="card">
    {% for deck in decks %}
        <div class='card-body'>
            <div class="row">
                <div class="col">
                    <h2 class="deck">{{ deck.title }}</h2>
                </div>
                <div class="col">
                    <a href='/deck/{{ deck._id }}/review' class="btn btn-primary active" role="button" aria-pressed="true">Review Deck</a> &nbsp;&nbsp;
                    <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true">Edit Deck</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}